<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/stylce.css">
    <title>Profile</title>
</head>

<body>
    <div id="page">
        <div>
            <nav class="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="/images/pawasitivity.png" alt="Logo" width="280" height="55"
                            class="d-inline-block align-text-top">
                    </a>
                </div>
            </nav>
        </div>
        <% if (profileType === "Parent") { %>
            <div class="sidebar">   
                <div class="drop">
                    <br>
                    <a style="text-align: center;" href="/<%= userType %>/logout">Logout</a>
                    <br>
                    <% if (visitor) { %>
                        <br>
                        <a style="text-align: center;" href="/<%= userType %>/profile">Back To Profile</a>
                        <br>
                    <% } %>
                    <br>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Parent
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByParents.length === 0) { %>
                                <li style="text-align: center;">No near by Parents found!!!</li>
                            <% }else{ %>
                            <% nearByParents.forEach(parent => { %>
                                <li><a class="dropdown-item" href="/<%= userType %>/profile/Parent/<%= parent._id %>"><h6>@<%= parent.username%></h6></a></li>
                            <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Stores
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByStores.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No nearby Stores found!!!</a></li>
                            <% }else{ %>
                                <% nearByStores.forEach(store => { %>
                           <li><a class="dropdown-item" href="/<%= userType %>/profile/Store/<%= store._id %>"><h6><%= store.storeName%></h6></a></li>
                                    <% }) %>
                                <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Trainers
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByTrainers.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Trainer found!!!</a></li>
                                <% }else{ %>
                                    <% nearByTrainers.forEach( trainer => { %>
                                       
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Trainer/<%= trainer._id %>"><h6><%= trainer.trainingCenterName %></h6></a></li>
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <% if (userType !== "dogVeterinary") { %>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Doctors
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByDoctors.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Doctor found!!!</a></li>
                                <% }else{ %>
                                    <% nearByDoctors.forEach( doctor => { %>
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Veterinary/<%= doctor._id %>"><h6><%= doctor.clinicName %></h6></a></li>
                                 
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-inline-block card"id="profile">
                                <div id="profile-img-div">
                                    <img src="/temp/<%= user.displayPicture %>" alt="profile-img" id="profile-img">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">@<%= user.username %></h3>
                                    <h5 class="card-title"><%= user.fullName %></h5>
                                    <p class="card-text"><%= user.houseNo %>, <%= user.street %></br><%= user.colony %>, <%= user.city %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row my-2">
                                <% if (user && user.dogs && user.dogs.length>0) { %>
                                 
                                <% user.dogs.forEach((dog) => { %>
                                    <div class="col">
                                        <div class="card" style="width: 20rem; " id="dog-profile-2">
                                            <div>
                                                <div class="dog-img-div">
                                                    <img src="/temp/<%= dog.displayPicture %>" alt="profile-img" class="dog-img">
                                                </div>
                                                <div class="card-body dog-card-body">
                                                    <h3 class="card-title">Name: <%= dog.dogName %></h3>
                                                    <p class="card-text %">Breed: <%= dog.dogBreed %></p>
                                                    <p class="card-text">Gender: <%= dog.gender %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>

                                <% } %>
                                <% if (visitor === false) { %>
                                <div class="col">
                                     <div class="card" style="width: 20rem;margin-top: 10px;" id="dog-profile-3">
                                            <a href="/dogParent/addDog">Click to Add Details of Your Dog.</a>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>                       
            </div>
        <% }else if(profileType === "Vet"){ %>
            <div class="sidebar">   
                <div class="drop">
                    <br>
                    <a style="text-align: center;" href="/<%= userType %>/logout">Logout</a>
                    <br>
                    <% if (visitor) { %>
                        <br>
                        <a style="text-align: center;" href="/dogVeterinary/profile">Back To Profile</a>
                        <br>
                    <% } %>
                    <br>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Parent
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByParents.length === 0) { %>
                                <li style="text-align: center;">No near by Parents found!!!</li>
                            <% }else{ %>
                            <% nearByParents.forEach(parent => { %>
                                <li><a class="dropdown-item" href="/<%= userType %>/profile/Parent/<%= parent._id %>"><h6>@<%= parent.username%></h6></a></li>
                            <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Stores
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByStores.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No nearby Stores found!!!</a></li>
                            <% }else{ %>
                                <% nearByStores.forEach(store => { %>
                           <li><a class="dropdown-item" href="/<%= userType %>/profile/Store/<%= store._id %>"><h6><%= store.storeName%></h6></a></li>
                                    <% }) %>
                                <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Trainers
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByTrainers.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Trainer found!!!</a></li>
                                <% }else{ %>
                                    <% nearByTrainers.forEach( trainer => { %>
                                       
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Trainer/<%= trainer._id %>"><h6><%= trainer.trainingCenterName %></h6></a></li>
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-inline-block card"id="profile">
                                <div id="profile-img-div">
                                    <img src="/temp/<%= user.displayPicture %>" alt="profile-img" id="profile-img">
                                   
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"><%= user.clinicName %></h3>
                                    <h5 class="card-title"><%= user.fullName %></h5>
                                    <h5 class="card-title">+91 <%= user.contactNo %></h5>
                                    <h6 class="card-text"><%= user.houseNo %>, <%= user.street %></br><%= user.colony %>, <%= user.city %></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">

                            <% if (user.appointments.length===0) { %>
                             <h1 style="text-align: center;">No Appointments.</h1>
                             <% } else{%>
                                <h1 style="text-align: center;">Current Appointments.</h1>
                                <div class="row my-2">
                                    <% user.appointments.forEach((element) => { %>
                                        <div class="col">
                                            <div class="card" style="width: 20rem; margin: 5px;" id="dog-profile-2">
                                                <div>
                                                    <% if (element.profileType === "Parent") { %>
                                                        <div class="dog-img-div">
                                                            <img src="/images/dogParent.jpg" alt="profile-img" class="dog-img">
                                                            <h6 style="text-align: center;margin-top: 5px;" class="card-title">Dog Parent</h6>
                                                        </div>
                                                        <div class="card-body dog-card-body">
                                                            <h6 class="card-text">Parent: <%=element.dogParentName %></h6>
                                                            <h6 class="card-text">Name: <%= element.dogName %></h6>
                                                            <h6 class="card-text">Breed: <%= element.dogBreed %></h6>
                                                            <p class="card-text %">on <%= new Date(element.appointmentDate).toLocaleDateString() %></p>
                                                            <p class="card-text %">Reason: <%= element.reason %> </p>
                                                        </div>
                                                    <% }else if(element.profileType === "Store"){ %>
                                                        <div class="dog-img-div">
                                                            <img src="/images/dogProductSeller.jpg" alt="profile-img" class="dog-img">
                                                            <h6 style="text-align: center;margin-top: 5px;" class="card-title">Pet Store</h6>
                                                        </div>
                                                        <div class="card-body dog-card-body">
                                                            <h6 class="card-text">Parent: <%=element.dogParentName %></h6>
                                                            <h6 class="card-text">Name: <%= element.dogName %></h6>
                                                            <h6 class="card-text">Breed: <%= element.dogBreed %></h6>
                                                            <p class="card-text %">on <%= new Date(element.appointmentDate).toLocaleDateString() %></p>
                                                            <p class="card-text %">Reason: <%= element.reason %> </p>
                                                        </div>
                                                    <% } else if (element.profileType === "Trainer") { %>
                                                        <div class="dog-img-div">
                                                            <img src="/images/dogTrainer.jpg" alt="profile-img" class="dog-img">
                                                            <h6 style="text-align: center;margin-top: 5px;" class="card-title">Trainer</h6>
                                                        </div>
                                                        <div class="card-body dog-card-body">
                                                            <h6 class="card-text">Parent: <%=element.dogParentName %></h6>
                                                            <h6 class="card-text">Name: <%= element.dogName %></h6>
                                                            <h6 class="card-text">Breed: <%= element.dogBreed %></h6>
                                                            <p class="card-text %">on <%= new Date(element.appointmentDate).toLocaleDateString() %></p>
                                                            <p class="card-text %">Reason: <%= element.reason %> </p>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="dog-img-div">
                                                            <img src="/images/appointments.jpeg" alt="profile-img" class="dog-img">
                                                            <h6 style="text-align: center;margin-top: 5px;" class="card-title">User-Type</h6>
                                                        </div>
                                                        <div class="card-body dog-card-body">
                                                            <h6 class="card-text">Parent: <%=element.dogParentName %></h6>
                                                            <h6 class="card-text">Name: <%= element.dogName %></h6>
                                                            <h6 class="card-text">Breed: <%= element.dogBreed %></h6>
                                                            <p class="card-text %">on <%= new Date(element.appointmentDate).toLocaleDateString() %></p>
                                                            <p class="card-text %">Reason: <%= element.reason %> </p>
                                                        </div>
                                                    <% } %>    
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                             <%}%>
                        </div>
                    </div>
                </div>                       
          <% }else if(profileType === "Store"){ %>
            <div class="sidebar">   
                <div class="drop">
                    <br>
                    <a style="text-align: center;" href="/<%= userType %>/logout">Logout</a>
                    <br>
                    <% if (visitor) { %>
                        <br>
                        <a style="text-align: center;" href="/<%= userType %>/profile">Back To Profile</a>
                        <br>
                    <% } %>
                    <br>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Parent
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByParents.length === 0) { %>
                                <li style="text-align: center;">No near by Parents found!!!</li>
                            <% }else{ %>
                            <% nearByParents.forEach(parent => { %>
                                <li><a class="dropdown-item" href="/<%= userType %>/profile/Parent/<%= parent._id %>"><h6>@<%= parent.username%></h6></a></li>
                            <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Stores
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByStores.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No nearby Stores found!!!</a></li>
                            <% }else{ %>
                                <% nearByStores.forEach(store => { %>
                           <li><a class="dropdown-item" href="/<%= userType %>/profile/Store/<%= store._id %>"><h6><%= store.storeName%></h6></a></li>
                                    <% }) %>
                                <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Trainers
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByTrainers.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Trainer found!!!</a></li>
                                <% }else{ %>
                                    <% nearByTrainers.forEach( trainer => { %>
                                       
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Trainer/<%= trainer._id %>"><h6><%= trainer.trainingCenterName %></h6></a></li>
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <% if (userType !== "dogVeterinary") { %>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Doctors
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByDoctors.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Doctor found!!!</a></li>
                                <% }else{ %>
                                    <% nearByDoctors.forEach( doctor => { %>
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Veterinary/<%= doctor._id %>"><h6><%= doctor.clinicName %></h6></a></li>
                                 
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-inline-block card"id="profile">
                                <div id="profile-img-div">
                                    <img src="/temp/<%= user.displayPicture %>" alt="profile-img" id="profile-img">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">@<%= user.storeName %></h3>
                                    <h5 class="card-title"><%= user.ownerName %></h5>
                                    <h5 class="card-title"><%= user.contactNo %></h5>
                                    <p class="card-text"><%= user.houseNo %>, <%= user.street %></br><%= user.colony %>, <%= user.city %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row my-2">
                                <% if (user.productListed.length === 0) { %>
                                    <h1 style="text-align: center;">No Product Listed.</h1>
                                <% }else{ %>
                                <h1 style="text-align: center;">Available Products.</h1>
                                <% user.productListed.forEach((element) => { %>
                                    <div class="col">
                                        <div class="card" style="width: 20rem; margin-top: 10px;" id="dog-profile-2">
                                            <div>
                                                <div class="dog-img-div">
                                                    <img src="/temp/<%= element.productImage %>" alt="profile-img" class="dog-img">
                                                </div>
                                                <div class="card-body dog-card-body">
                                                    <h3 class="card-title"><%= element.productName%></h3>
                                                    <p class="card-text %">₹<%= element.cost %></p>
                                                    <p class="card-text">Mfg: <%= new Date(element.manufacturingDate).toLocaleDateString() %></p>
                                                    <p>Exp: <%= new Date(element.expiryDate).toLocaleDateString() %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                                <% } %>
                                <% if(visitor === false){ %>
                                <div class="col">
                                    <div class="card" style="width: 20rem; margin-top: 10px;" id="dog-profile-3">
                                        <a href="/<%=userType%>/addItem">Click to Add More Products.</a>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>                       
            </div>
          <% }else if(profileType === "Trainer"){ %>
            <div class="sidebar">   
                <div class="drop">
                    <br>
                    <a style="text-align: center;" href="/<%= userType %>/logout">Logout</a>
                    <br>
                    <% if (visitor) { %>
                        <br>
                        <a style="text-align: center;" href="/<%= userType %>/profile">Back To Profile</a>
                        <br>
                    <% } %>
                    <br>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Parent
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByParents.length === 0) { %>
                                <li style="text-align: center;">No near by Parents found!!!</li>
                            <% }else{ %>
                            <% nearByParents.forEach(parent => { %>
                                <li><a class="dropdown-item" href="/<%= userType %>/profile/Parent/<%= parent._id %>"><h6>@<%= parent.username%></h6></a></li>
                            <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Stores
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByStores.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No nearby Stores found!!!</a></li>
                            <% }else{ %>
                                <% nearByStores.forEach(store => { %>
                           <li><a class="dropdown-item" href="/<%= userType %>/profile/Store/<%= store._id %>"><h6><%= store.storeName%></h6></a></li>
                                    <% }) %>
                                <% } %>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Trainers
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByTrainers.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Trainer found!!!</a></li>
                                <% }else{ %>
                                    <% nearByTrainers.forEach( trainer => { %>
                                       
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Trainer/<%= trainer._id %>"><h6><%= trainer.trainingCenterName %></h6></a></li>
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <% if (userType !== "dogVeterinary") { %>
                    <div class="dropdown">
                        <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Near By Doctors
                        </button>
                        <ul class="dropdown-menu menu">
                            <% if (nearByDoctors.length === 0) { %>
                                <li><a class="dropdown-item" href="#">No near by Doctor found!!!</a></li>
                                <% }else{ %>
                                    <% nearByDoctors.forEach( doctor => { %>
                                        <li><a class="dropdown-item" href="/<%= userType %>/profile/Veterinary/<%= doctor._id %>"><h6><%= doctor.clinicName %></h6></a></li>
                                 
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-inline-block card"id="profile">
                                <div id="profile-img-div">
                                    <img src="/temp/<%=user.displayPicture%>" alt="profile-img" id="profile-img">
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title"><%= user.trainingCenterName %></h2>
                                    <h5 class="card-title"><%= user.fullName%></h5>
                                    <h5 class="card-title">+91 <%= user.contactNo%></h5>
                                    <p class="card-text"><%= user.houseNo %>, <%= user.street %></br><%= user.colony %>, <%= user.city %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h1 style="text-align: center;">Services Provided:</h1>
                            <div class="row my-2">
                                    <div class="col">
                                        <div class="card" style="width: 20rem; margin: 5px;" id="dog-profile-2">
                                            <div>
                                                <div class="dog-img-div">
                                                    <img src="/images/basic_ob_tr.jpeg" alt="profile-img" class="dog-img">
                                                </div>
                                                <div class="card-body dog-card-body">
                                                    <h6 class="card-title">Basic Obedience Training</h6>
                                                    <p class="card-text %">Charges: </p>
                                                    <p class="card-text %">Time Period:  </p>
                                                    <p class="card-text %">Rating: 3.5⭐ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 20rem; margin: 5px;" id="dog-profile-2">
                                            <div>
                                                <div class="dog-img-div">
                                                    <img src="/images/boarding.jpeg" alt="profile-img" class="dog-img">
                                                </div>
                                                <div class="card-body dog-card-body">
                                                    <h6 class="card-title">Dog Boarding And Training. </h6>
                                                    <p class="card-text %">Charges: </p>
                                                    <p class="card-text %">Time Period:  </p>
                                                    <p class="card-text %">Rating: 4.5⭐ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 20rem; margin: 5px;" id="dog-profile-2">
                                            <div>
                                                <div class="dog-img-div">
                                                    <img src="/images/group clases.jpeg" alt="profile-img" class="dog-img">
                                                </div>
                                                <div class="card-body dog-card-body">
                                                    <h6 class="card-title">Group Classes</h6>
                                                    <p class="card-text %">Charges: </p>
                                                    <p class="card-text %">Time Period:  </p>
                                                    <p class="card-text %">Rating: 3⭐ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card" style="width: 20rem; margin: 5px;" id="dog-profile-2">
                                            <div>
                                                <div class="dog-img-div">
                                                    <img src="/images/therepy.jpeg" alt="profile-img" class="dog-img">
                                                </div>
                                                <div class="card-body dog-card-body">
                                                    <h6 class="card-title">Dog therepy</h6>
                                                    <p class="card-text %">Charges: </p>
                                                    <p class="card-text %">Time Period:  </p>
                                                    <p class="card-text %">Rating: 4.7⭐ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>                       
            </div>
            <% }else if(profileType === "Veterinary"){ %>
            <div class="sidebar">   
                    <div class="drop">
                        <br>
                        <a style="text-align: center;" href="/<%= userType %>/logout">Logout</a>
                        <br>
                        <% if (visitor) { %>
                            <br>
                            <a style="text-align: center;" href="/<%= userType %>/profile">Back To Profile</a>
                            <br>
                        <% } %>
                        <br>
                        <div class="dropdown">
                            <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Near By Parent
                            </button>
                            <ul class="dropdown-menu menu">
                                <% if (nearByParents.length === 0) { %>
                                    <li style="text-align: center;">No near by Parents found!!!</li>
                                <% }else{ %>
                                <% nearByParents.forEach(parent => { %>
                                    <li><a class="dropdown-item" href="/<%= userType %>/profile/Parent/<%= parent._id %>"><h6>@<%= parent.username%></h6></a></li>
                                <% }) %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Near By Stores
                            </button>
                            <ul class="dropdown-menu menu">
                                <% if (nearByStores.length === 0) { %>
                                    <li><a class="dropdown-item" href="#">No nearby Stores found!!!</a></li>
                                <% }else{ %>
                                    <% nearByStores.forEach(store => { %>
                               <li><a class="dropdown-item" href="/<%= userType %>/profile/Store/<%= store._id %>"><h6><%= store.storeName%></h6></a></li>
                                        <% }) %>
                                    <% } %>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Near By Trainers
                            </button>
                            <ul class="dropdown-menu menu">
                                <% if (nearByTrainers.length === 0) { %>
                                    <li><a class="dropdown-item" href="#">No near by Trainer found!!!</a></li>
                                    <% }else{ %>
                                        <% nearByTrainers.forEach( trainer => { %>
                                           
                                            <li><a class="dropdown-item" href="/<%= userType %>/profile/Trainer/<%= trainer._id %>"><h6><%= trainer.trainingCenterName %></h6></a></li>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle dd-btn" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Near By Doctors
                            </button>
                            <ul class="dropdown-menu menu">
                                <% if (nearByDoctors.length === 0) { %>
                                    <li><a class="dropdown-item" href="#">No near by Doctor found!!!</a></li>
                                    <% }else{ %>
                                        <% nearByDoctors.forEach( doctor => { %>
                                            <li><a class="dropdown-item" href="/<%= userType %>/profile/Veterinary/<%= doctor._id %>"><h6><%= doctor.clinicName %></h6></a></li>
                                     
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
            </div> 
            <div id="main">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <div class="d-inline-block card" id="profile">
                                        <div id="profile-img-div">
                                            <img src="/temp/<%= user.displayPicture %>" alt="profile-img" id="profile-img">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title"><%= user.clinicName %></h3>
                                            <h5 class="card-title"><%= user.fullName %></h5>
                                            <h5 class="card-title">+91 <%= user.contactNo %></h5>
                                            <h5 class="card-title"><%= user.qualification %></h5>
                                            <p class="card-text"><%= user.houseNo %>, <%= user.street %></br><%= user.colony %>, <%= user.city %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <form method="post" enctype="application/x-www-form-urlencoded" action="/<%=userType%>/addAppointment">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="dogParentName"class="form-control" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Dog Parent Name</label>
                                            <input type="hidden" name="drId" value="<%=drId %>">
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="dogName" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Dog Name</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="dogBreed" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Dog Breed</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="datetime-local" class="form-control" name="appointmentDate" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Appointment Date</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="reason" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Reason</label>
                                        </div>
                                        
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Book Appointment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
            <% }else{%>
                <H1>Error</H1>
            <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
<script src="https://kit.fontawesome.com/31998d0ab6.js" crossorigin="anonymous"></script>

</html>